.custom-carousel-container {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-prev-arrow {
  left: 10px;
}

.custom-next-arrow {
  right: 10px;
}
